

@media print {
    .no-print-area {
        display: none;
    }

    @page {
        size: A4; /* auto */
        margin: 0;
    }

    body {
        margin-left: 1cm;
        margin-right: 1cm;
        margin-bottom: 1cm;
        margin-top: 1cm;
        font-family: Arial;
        font-size: 10pt;
    }
}

.no-print-area {
    margin-bottom: 15px;
}


html, body {
    font-family: arial;
    font-size: small;
}
